body,a{
    text-decoration: none;
    font-family: "맑은 고딕", Arial, sans-serif;
    font-size:0.9em;
}

button{
    padding:5px 15px;
    color:#fff;
    border:none;
    cursor:pointer;
    border-radius:5px;
    -webkit-borer-radius:5px;
}